.ichigostyle{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --font-light: #d6721a;
    --front-dark: #4f61b3;
    --mark: #e1e429;
}
.container {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: solid 2px #1c9b46;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
}
.aside-profile{
    display: flex;
    flex-direction: column;
    color: var(--font-light);
    align-items: center;
    width: 45vw;
    gap: 48px;
    padding: 16px 24px 32px 24px;
    background-color: #e0c8a9;
}
.Profile {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.photo {
    width: 180px;
    height:180px ;
    border: none;
    border-radius:50%;
    align-self: center;
}
.name {
    font-size: 36px;
}
.subtitle{
    font-size: 18px;
}
.divisor {
border-bottom: 3px solid var(--mark);
height: 24px;
}
article > h3 {
font-size: 16px;
margin-bottom: 3%;
}